/node_modules
/fruits/**/*.js
/src/**/*.js
!/src/nodes/producer/admin.systemjs.config.js
!/src/nodes/producer/user.systemjs.config.js
*.map
/typings
*.log
/bower_components
/static
*.css
.sass-cache
/src/nodes/producer/admin.html
/src/nodes/producer/user.html
temp.txt
test.json
