<div *ngIf="!_loadingparams">
    <query-page [runOnInit]="runOnInit" [qfilter]="qfilter" [queryFn]="queryFn" [options]="queryOpt" (onPageDataChange)="setPageData($event)"></query-page>
    <div class="col-12">
        <div class="col-1 datacell">Target</div>
        <div class="col-1 datacell">Name</div>
        <div class="col-1 datacell">Go Long</div>
        <div class="col-2 datacell">Start Date</div>
        <div class="col-2 datacell">Lastest/Close Date</div>
        <div class="col-1 datacell">Rev</div>
        <div class="col-2 datacell">Rtplan</div>
        <div class="col-2 datacell">Simulated Date</div>
    </div>
    <div *ngFor="let t of pageData" class="col-12">
        <div class="col-12 dataline" [ngClass]="{selected: showingSimulate === t, 'prev-selected': prevShowingSimulate === t}" (click)="showSimulate(t)">
            <div class="col-1 datacell">{{t.target}}</div>
            <div class="col-1 datacell">{{t._name}}</div>
            <div class="col-1 datacell">{{t.glong}}</div>
            <div class="col-2 datacell">{{t.sdts | dts2datekey}}</div>
            <div class="col-2 datacell">
                <span>{{(t.edts || t.sdts) | dts2datekey}}</span>
                <span *ngIf="!t.closed">(unclosed)</span>
            </div>
            <div class="col-1 datacell">{{t._rev | frac : 4}}</div>
            <div class="col-2 datacell">{{t._rtplan}}</div>
            <div class="col-2 datacell">{{t.createdTs | datetime}}</div>
        </div>
        <div [ngClass]="{hidden: showingSimulate !== t}" class="detail-panel col-12">
            <div>{{t.target}} {{t._name}}</div>
            <div>{{t.closed ? 'Closed' : 'Open'}}</div>
            <br>
            <div>Start {{t.sp | frac : 4}} @ {{t.sdts | dts2datekey}}</div>
            <div *ngIf="t.hp">Highest {{t.hp | frac : 4}} {{t._hrev | frac : 4}} @ {{t.hdts | dts2datekey}}</div>
            <div *ngIf="t.lp">Lowest {{t.lp | frac : 4}} {{t._lrev | frac : 4}} @ {{t.ldts | dts2datekey}}</div>
            <div *ngIf="t.ep">{{t.closed ? 'Closed' : 'Current'}} {{t.ep | frac : 4}} {{t._rev | frac : 4}} @ {{t.edts | dts2datekey}}</div>
            <br>
            <div class="lightfont">Strategy {{t.glong ? 'Go Long' : 'Go Short'}}</div>
            <div>{{t._rtplan}}</div>
            <div class="lightfont">Summary</div>
            <div>{{t._rtplansum || '无'}}</div>
            <div class="lightfont">Optimizations</div>
            <div *ngFor="let r of t._rtplanopt">{{r}}</div>
            <br>
            <div class="lightfont">Indexes</div>
            <div *ngFor="let i of t._env">{{i.target}} {{i.name}} {{i.rev | frac : 4}}</div>
            <br>
            <div class="lightfont">Additions</div>
            <div *ngFor="let i of t._concernsIn">
                <div class="lightfont">{{i.name}}</div>
                <pre>{{i.val}}</pre>
            </div>
        </div>
    </div>
</div>