
@import 'variables';

body {
    font-family: 'Segoe UI';
    color: $color_font_dark;
    font-size: 14px;
}

* {
    outline: none;
}

.hidden {
    display: none !important;
}

.vert-mid {
    vertical-align: middle;
}

.label {
    font-size: 16px;
    color: $color_font_light;
    margin-top: 10px;
    margin-bottom: 2px;
}

.lightfont {
    color: $color_font_light;
}

.compact-label {
    font-size: 14px;
    color: $color_font_light;
}

#mainnav {
    .navitem {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        float: left;
        margin: 5px 20px;
        color: $color_font_light;

        &:hover {
            color: $color_selectable_selected;
        }

        &.current {
            color: $color_selectable_selected;
            cursor: auto;
        }
    }
}

#maincontent {
    padding: 0px 20px;
}
