
//btn
$color_btn_disabled: #cccccc;
$color_btn_normal: #2CA5FF;
$color_btn_hover: #117DCE;

//input hint
$color_input_focus: #2ca5ff;
$color_input_success: #39b54a;
$color_input_error: #ff1d25;
$color_input_warn: #fbb03b;

//msg hint
$color_msg_success: #39b54a;
$color_msg_error: #ff1d25;
$color_msg_warn: #fbb03b;
$color_msg_highlight: #2ca5ff;
$color_msg_bg: #E9F6FF;

//selectable
$color_selectable_hover: #E9F6FF;
$color_selectable_selected: #2CA5FF;

//bg color
$color_bg: #F2F2F2;
$color_bg_veil: white;

$color_font_light: #999;
$color_font_dark: #666;
