<div id="mainview" class="col-12">
    <div id="mainnav" class="col-12">
        <div class="navitem" [ngClass]="{current: currentPage === 'produce'}" routerLink="/produce" routerLinkActive="active">Produce</div>
        <div class="navitem" [ngClass]="{current: currentPage === 'monitor'}" routerLink="/monitor" routerLinkActive="active">Monitor</div>
        <!--<div class="navitem" [ngClass]="{current: currentPage === 'profile'}" ui-sref="profile">Profile</div>-->
        <div class="navitem" [ngClass]="{current: currentPage === 'resources'}" routerLink="/resources" routerLinkActive="active">Resources</div>
        <!--<div class="navitem" [ngClass]="{current: currentPage === 'help'}" ui-sref="help">Help</div>-->
    </div>
    <div id="maincontent" class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>