<div class="col-12" style="margin-bottom: 100px;">
    <select [(ngModel)]="selectedTaskType">
        <option *ngFor="let type of taskTypes">{{type}}</option>
    </select>
    <hypotestaggr-producer [ngClass]="{hidden: selectedTaskType !== constant.action.hypoTestAggr}"></hypotestaggr-producer>
    <simple-producer [action]="constant.action.stockList" [ngClass]="{hidden: selectedTaskType !== constant.action.stockList}"></simple-producer>
    <simple-producer [action]="constant.action.rawInspect" [ngClass]="{hidden: selectedTaskType !== constant.action.rawInspect}"></simple-producer>
    <rawdata-producer [ngClass]="{hidden: selectedTaskType !== constant.action.rawData}"></rawdata-producer>
    <alertall-producer [ngClass]="{hidden: selectedTaskType !== constant.action.alertsAll}"></alertall-producer>
    <targets-action [inputList]="actConfig.rawsync.inputList" [action]="actConfig.rawsync.action" [options]="actConfig.rawsync.options" [ngClass]="{hidden: selectedTaskType !== constant.action.rawSync}"></targets-action>
    <targets-action [inputList]="actConfig.simulate.inputList" [action]="actConfig.simulate.action" [options]="actConfig.simulate.options" [ngClass]="{hidden: selectedTaskType !== constant.action.simulate}"></targets-action>
    <targets-action [inputList]="actConfig.rtprog.inputList" [action]="actConfig.rtprog.action" [options]="actConfig.rtprog.options" [ngClass]="{hidden: selectedTaskType !== constant.action.genRtProg}"></targets-action>
    <targets-action [inputList]="actConfig.lastend.inputList" [action]="actConfig.lastend.action" [options]="actConfig.lastend.options" [ngClass]="{hidden: selectedTaskType !== constant.action.lastend}"></targets-action>
</div>
