<div *ngIf="displayLog">
    <display-log [log]="log"></display-log>
</div>
<div>
    <rawinspect-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.rawInspect"></rawinspect-task-display>
    <rawsync-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.rawSync"></rawsync-task-display>
    <rawdata-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.rawData"></rawdata-task-display>
    <stocklist-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.stockList"></stocklist-task-display>
    <simulate-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.simulate"></simulate-task-display>
    <simall-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.simAll"></simall-task-display>
    <hypotest-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.hypoTest"></hypotest-task-display>
    <hypotestaggr-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.hypoTestAggr"></hypotestaggr-task-display>
    <genrtprog-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.genRtProg"></genrtprog-task-display>
    <genrtprogall-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.genRtProgAll"></genrtprogall-task-display>
    <delay-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.delay"></delay-task-display>
    <afterrawinspect-task-display [task]="task" [quickview]="task.quickview" *ngIf="task.action.type === constant.action.afterRawInspect"></afterrawinspect-task-display>
</div>